@model Garage_2._0.Models.Member

@{
    ViewBag.Title = "Delete";
    var hasVehicles = Model.Vehicles.Count > 0;
}

@if (hasVehicles)
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">You still have vehicles parked.</h4>
        <p>Check out your vehicles first.</p>
    </div>
}

<div class="panel panel-default">
    <div class="panel-heading"><h4>Delete</h4></div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @if (hasVehicles)
        {
            <input type="submit" value="Back to garage" class="btn btn-default" />
        }
        else
        {
            <input type="submit" value="Delete" class="btn btn-default" />
        }|
        @Html.ActionLink("Back to MemberList", "Index", null, new { @class = "btn btn-default" })
    </div>
}
