@model IEnumerable<Garage_2._0.ViewModels.VehicleIndex>

@{
    ViewBag.Title = "Index";
    if (ViewBag.SpaceLeft == 1)
    {
        ViewBag.ParkingSpaceString = "There are " + ViewBag.SpaceLeft + " parking space left in the garage.";
    }
    else if (ViewBag.SpaceLeft == 0)
    {
        ViewBag.IsFull = "true";
    }
    else
    {
        ViewBag.ParkingSpaceString = "There are " + ViewBag.SpaceLeft + " parking spaces left in the garage.";
    }
}

<p>
    @Html.ActionLink(" ", "CheckIn", null, new { @class = "btn btn-default glyphicon glyphicon-plus" })
    @if (ViewBag.IsFull == "true")
    {
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Garage is full</h4>
        </div>
    }
    else
    {
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">@ViewBag.ParkingSpaceString</h4>
        </div>
       
    }
    </p>

    <div class="panel panel-default">
        <div class="panel-heading">Parked cars</div>
        <div class="panel-body">
            @using (Html.BeginForm("Find", "Vehicles"))
            {
                <form>
                    <div class="input-group">
                        <input type="text" name="SearchString" pattern="[a-zA-Z]{3}\d{3}|[a-zA-Z]{1,8}" title="Registration number should have 3 letters followed by 3 numbers or 1 to 8 letters" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            }
        </div>

    <table class="table table-hover sortable">
        <thead>
            <tr>
                <th data-defaultsort="desc">
                    @Html.DisplayNameFor(model => model.Owner)
                </th>
                <th data-defaultsort="desc">
                    @Html.DisplayNameFor(model => model.RegistrationNumber)
                </th>
                <th data-defaultsort="desc">
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th data-defaultsort="desc">
                    @Html.DisplayNameFor(model => model.CheckInTime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckInTime)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "CheckOut", new { id = item.Id }, new { @class = "glyphicon glyphicon-road", id = "buttons", title = "CheckOut" })
                        @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "glyphicon glyphicon-info-sign", id = "buttons", title = "Details" })
                        @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "glyphicon glyphicon-edit", id = "buttons", title = "Edit" })
                    </td>
                </tr>
            }
        </tbody>
</table>
    <div class="panel-footer"></div>
</div>