@model Garage_2._0.ViewModels.Kvitto

@{
    ViewBag.Title = "Receipt";
}

<h2>Receipt</h2>

<div class="panel panel-default">
    <div class="panel-heading">Kvitto</div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckInTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckOutTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOutTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkeringsPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkeringsPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
