@model Garage_2._0.ViewModels.Statistics

@{
    ViewBag.Title = "Statistics";
    
}

<div class="well well-lg">
    <h2>Statistics</h2>
    <dl class="dl-horizontal">
        @foreach (KeyValuePair<Garage_2._0.Models.VehicleType, int> item in Model.VehiclesOfEachType)
        {
            <dt>
                @item.Key.Type
            </dt>
            <dd>
                @Html.DisplayFor(model => item.Value)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.NrOfWheels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NrOfWheels)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalParkingPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalParkingPrice)
        </dd>
        @foreach (KeyValuePair<Garage_2._0.Enums.Brand, int> item in Model.NrOfEachBrand)
        {
            <dt>
                @item.Key
            </dt>
            <dd>
                @Html.DisplayFor(model => item.Value)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Back to Garage", "Index", null, new { @class = "btn btn-default" })
</p>
